<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<body>
<div class="wrapper">
	<div class="main"  >
		<p class="bt">AJITH KUMAR.S</p>
		<P style="margin-top: 0">Ruby on Rails Developer</P><br>
		<h3 class="bt0">About Me</h3><hr style="width: 84%">
		<p class="inpr" >
				<p>Love solving problems,exploring new technologies and tends to ask why.<br>
				High moderate and passionate about work,take pride in what I do.<br>
				Comfortable working in a fast-paced environment. where ideas are turned into implementations in a matter of me.</p>
		</p>
		<h3 class="bt0" >Education</h3><hr style="width: 83.5%">
		 	<span></br>
		 		<h5 class="bt0"><mark>2013-2017</mark></h5><h5 style="margin-bottom: 0">B.E(Computer Science)</h5>
		 		<h5 style="margin-top:0;margin-bottom: 0 ">Anna University / Jeppiaar Maamallan Engineering Colleges.</h5>
		 		<p class="inpr"><b>Obtain 6.1 CGPA</b> </p></br></br>
		 		<h5 class="bt0"><mark>2012-2013</mark></h5><h5 style="margin-bottom: 0">HSC</h5>
		 		<h5 style="margin-top:0 ;margin-bottom: 0">Sri Ramakrishna Matriculation Higher Secondary School,Perambalur.
				</h5>
				<p class="inpr"><b>Finished HSC with 80%</b></p></br></br>
		 		<h5 class="bt0"><mark>2010-2011</mark></h5><h5 style="margin-bottom: 0">SSLC</h5>
		 		<h5 style="margin-top:0;margin-bottom: 0">Sri Ramakrishna Matriculation Higher Secondary School,Perambalur.
				</h5>
				<p class="inpr"><b>Finished SSLC with 75%</b></p></br></br>
		 	</span>
		<h3 class="bt0">Projects</h3><hr style="width: 85.4%">
			<span>
				</br>
				<h4 class="bt0">Project Name</h4>
				<p class="inpr">
					A web application for ruby on rails tutorial.
				</p>
				</br></br>
			</span>
	</div>
	<div class="sub">
		<%= image_tag("ax.jpg", :size => "190x200") %>

		<p  class="ml25">Professional Skill</p>
			<ol class="ml20">
				<li>HTML</li>
				<meter min="0" max="100" value="95" width=50%>
				</meter>

				<li>CSS</li>
				<meter value="95" min="0" max="100"></meter>

				<li>Java Script</li>
				<meter min="0" max="100" value="85" width=50%>
				</meter>

				<li>JQuery</li>
				<meter min="0" max="100" value="90" width=50%>
				</meter>

				<li>Ruby</li>
				<meter min="0" max="100" value="75" width=50%>
				</meter>


			</ol></br>
		<p  class="ml25">Techinical Skill</p>
			<ol class="ml20">
			<li>GIT</li>
			<meter min="0" max="100" value="95">
			 </meter>
			<li>Rails</li>
			<meter min="0" max="100" value="70">
			 </meter>
			</ol></br>
		<p  class="ml25">Language Skill</p>
			<ol class="ml20">
			<li>English</li>
			<meter min="0" max="100" value="70">
			 </meter>
			<li>Tamil</li>
			<meter min="0" max="100" value="100">
			 </meter>
			</ol></br>

		<p class="ml25">Contact Me</p>
			<ul class="ml20">
				<li id="phoneno"> &#9990 - +918508078956</li></br>
				<li id="address"> &#9751 - 340-Radient shine appartment,</br>Begur Koppa Road,Bengaluru</br>Karnataka 560 068</li></br>
				<li id="mail">&#9993 -coderajith@gmail.com</li>
			</ul></br>
	</div>
</div>
<div class="footer">
	<a href="https://github.com/coderajith">Github</a>
</div>
    <%= yield %>
  </body>
</html>
